/* shared */
.primary-color {
    color: #FD6E0A;
}

.dark1 {
    color: #474747;
}

.dark {
    color: #181818;
}

.dark2 {
    color: #757575;
}
.bg-color{
    background-color: #FFF8F3;
}

.btn-primary {
    
    font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 18px 35px;


}
.btn{
    border-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    padding: 18px 35px;
    color: #FD6E0A;
    font-weight: bold;
    background-color: white;

}
.text-center{
    text-align: center;
   
}
.logo {
    font-weight: 900;
    font-size: 45px;
}

ul li {
    list-style: none;

}

a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 48px;
    margin-right: 48px;

}

.nav-items {
    display: flex;
    align-items: center;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 230px;
}

header {
    
    background-image: url('../portfolio-resources/images/header_bg.png') ,url('../portfolio-resources/images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right , top left;
}

/* banner */
.banner{
    display: flex;
    align-items: center;
    margin-top: 47px;
    justify-content: space-between;
}
.banner-text{
    margin-left: 230px;
}

.greeting {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 30px;
}
.name{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
}
.bio{
    width: 585px;
    margin-bottom: 30px;
}
.banner-btn{
    display: flex;
    gap: 30px;
}
.banner-img{
    margin-right: 38px;
    
}
main{
    width: 1140px;
    margin: auto;
}
.section-gap{
    margin: 130px 0;
}
.about{
    width: 1140px;
    height: 550px;
    border-radius: 10px;
    
}
.sec-title{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
     margin-bottom: 30px;
}
.txt-center{
    text-align: center;
    width: 827px;
    margin-top: 30px;
}
.category{
    font-size: 20px;
    

}
.about-details{
    display: flex;
    gap: 48px;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
}
.about-me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 130px 150px;
    
}
.bg{
    background-color: #ffffff;
    width: 827px;
    height: 288px;
    border: 1px solid black;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.box{
    padding: 130px 150px;
}
.skil-container{
    
width: 267px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.2);
}
.icon{
    margin-bottom: 30px;
}
.skil-title{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.items-contain{
    padding: 30px;
}
.box-items{
    display: flex;
    gap: 24px;
    margin-top: 50px;
}
/* resume */
.degree{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 10px;
}
.university{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.description{
    width: 511px;
    margin-bottom: 30px;
}
hr{
    color: #D1D1D1;
    width: 558px;
    margin-bottom: 30px;
}
.resume-title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.flex{
    display: flex;
    gap: 24px;
}
.cv-btn{
    margin-top: 50px;
    display: block;
    margin:auto
}
/* footer */
.bg-footer{
    width: 100%;
    margin-top: 130px;

}
.ft-title{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 21px;
}
.ft-des{
    width: 562px;
    margin-bottom: 21px;

}
.ft-icons{
    display: flex;
    gap: 24px;
}
input {
    width: 461px;
    height: 64px;
    border: none;
    padding: 18px 0 18px 30px;
    font-size: 16px;
    border-radius: 5px;
}
textarea{
    width: 461px;
    border: none;
    padding: 18px 0 0 30px;
    font-size: 16px;
     border-radius: 5px;

}
form{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.submit{
     font-weight: bold;
    color: white;
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 18px 35px;
    width: 150px;

}
.flex2{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 130px 200px;
}
#phone{
    color: #FD6E0A;
}